<!-- Card -->
<csd-card
  titleName="My title"
  subtitleName="subtitle very long subtitle"
  (triggerDelete)="onDelete()"
  (triggerEdit)="onEdit()"
  (triggerMore)="onMore()"
></csd-card>

<csd-card
  titleName="My title"
  disabled="true"
  (triggerDelete)="onDelete()"
  (triggerEdit)="onEdit()"
  (triggerMore)="onMore()"
></csd-card>

<csd-card
  titleName="My title"
  subtitleName="subtitle"
  (triggerDelete)="onDelete()"
  (triggerEdit)="onEdit()"
  (triggerMore)="onMore()"
></csd-card>

<csd-card
  titleName="My title"
  subtitleName="subtitle"
  disabled="true"
  (triggerDelete)="onDelete()"
  (triggerEdit)="onEdit()"
  (triggerMore)="onMore()"
></csd-card>
