<script src="csd-account-settings.component.ts"></script>
<div class="csd-container">
  <div class="csd-account-settings">
    <div class="csd-save-close-toolbar">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon [attr.aria-label]="'BUTTON.BACK' | i18next">close</mat-icon>
      </button>
      <h1 class="csd-title">{{ 'PAGE_TITLE.ACCOUNT' | i18next }}</h1>
      <button id="save-user-settings" mat-button (click)="saveUserSettings()">
        {{ 'BUTTON.SAVE' | i18next }}
      </button>
    </div>

    <div class="csd-content">
      <div class="csd-navigation">
        <ul class="csd-toc">
          <li>
            <a href="account#personal-info" class="csd-navigation-link">{{
              'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.TITLE' | i18next
            }}</a>
          </li>
          <li>
            <a href="account#change-email" class="csd-navigation-link">{{
              'ACCOUNT_SETTINGS.CHANGE_EMAIL.TITLE' | i18next
            }}</a>
          </li>
          <li>
            <a href="account#interests" class="csd-navigation-link">{{
              'ACCOUNT_SETTINGS.INTERESTS.TITLE' | i18next
            }}</a>
          </li>
          <li>
            <a href="account#change-password" class="csd-navigation-link">{{
              'ACCOUNT_SETTINGS.CHANGE_PASSWORD.TITLE' | i18next
            }}</a>
          </li>
          <li>
            <a href="account#delete-account" class="csd-navigation-link">{{
              'ACCOUNT_SETTINGS.DELETE_ACCOUNT.TITLE' | i18next
            }}</a>
          </li>
        </ul>
      </div>
      <form [formGroup]="accountSettingsForm" novalidate>
        <div class="csd-section-box csd-personal-info">
          <h1 id="personal-info" class="csd-section-title">
            {{ 'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.TITLE' | i18next }}
          </h1>
          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>{{
              'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.SALUTATION.LABEL' | i18next
            }}</mat-label>
            <mat-select
              [placeholder]="
                'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.SALUTATION.PLACEHOLDER' | i18next
              "
              formControlName="salutation"
            >
              <mat-option *ngFor="let salutation of salutations" [value]="salutation">
                {{
                  'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.SALUTATION.OPTIONS.' + salutation
                    | i18next
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>{{
              'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.FIRST_NAME.LABEL' | i18next
            }}</mat-label>
            <input
              matInput
              [placeholder]="
                'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.FIRST_NAME.PLACEHOLDER' | i18next
              "
              formControlName="firstName"
              autocomplete="given-name"
            />
            <mat-error
              *ngIf="
                (firstNameForm.dirty || firstNameForm.touched) && firstNameForm.errors?.required
              "
            >
              {{ 'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.FIRST_NAME.ERROR.REQUIRED' | i18next }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>{{
              'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.LAST_NAME.LABEL' | i18next
            }}</mat-label>
            <input
              matInput
              [placeholder]="
                'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.LAST_NAME.PLACEHOLDER' | i18next
              "
              formControlName="lastName"
              autocomplete="family-name"
            />
            <mat-error
              *ngIf="(lastNameForm.dirty || lastNameForm.touched) && lastNameForm.errors?.required"
            >
              {{ 'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.LAST_NAME.ERROR.REQUIRED' | i18next }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>{{
              'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.LANGUAGE.LABEL' | i18next
            }}</mat-label>
            <mat-select
              [placeholder]="
                'ACCOUNT_SETTINGS.PERSONAL_INFORMATION.FORM.LANGUAGE.PLACEHOLDER' | i18next
              "
              formControlName="language"
            >
              <mat-option *ngFor="let language of languages" [value]="language">
                {{ 'LANG.' + language.toUpperCase() | i18next }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [appearance]="formFieldAppearance">
            <mat-label>{{ 'COUNTRY_SELECTOR.LABEL' | i18next }}</mat-label>
            <mat-select
              [placeholder]="'COUNTRY_SELECTOR.PLACEHOLDER' | i18next"
              formControlName="country"
            >
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ 'COUNTRY_SELECTOR.OPTIONS.' + country | i18next }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="csd-section-box csd-change-email">
          <h1 id="change-email" class="csd-section-title">
            {{ 'ACCOUNT_SETTINGS.CHANGE_EMAIL.TITLE' | i18next }}
          </h1>
          <p class="csd-section-paragraph">
            {{ 'ACCOUNT_SETTINGS.CHANGE_EMAIL.DESCRIPTION' | i18next }}
          </p>
          <button color="primary" mat-raised-button (click)="changeEmail()">
            {{ 'ACCOUNT_SETTINGS.CHANGE_EMAIL.BUTTON' | i18next }}
          </button>
        </div>

        <div class="csd-section-box csd-interests">
          <h1 id="interests" class="csd-section-title">
            {{ 'ACCOUNT_SETTINGS.INTERESTS.TITLE' | i18next }}
          </h1>
          <ng-container formArrayName="interests">
            <ng-container *ngFor="let interest of interests; let i = index">
              <mat-checkbox class="csd-interest-checkbox" [formControlName]="i">
                <span [innerHtml]="'MODEL.USER.INTERESTS.OPTIONS.' + interest | i18next"></span>
              </mat-checkbox>
            </ng-container>
          </ng-container>
        </div>
        <div class="csd-section-box csd-change-password">
          <h1 id="change-password" class="csd-section-title">
            {{ 'ACCOUNT_SETTINGS.CHANGE_PASSWORD.TITLE' | i18next }}
          </h1>
          <p class="csd-section-paragraph">
            {{ 'ACCOUNT_SETTINGS.CHANGE_PASSWORD.DESCRIPTION' | i18next }}
          </p>
          <button color="primary" mat-raised-button (click)="changePassword()">
            {{ 'ACCOUNT_SETTINGS.CHANGE_PASSWORD.BUTTON' | i18next }}
          </button>
        </div>

        <div class="csd-section-box csd-delete-account">
          <h1 id="delete-account" class="csd-section-title">
            {{ 'ACCOUNT_SETTINGS.DELETE_ACCOUNT.TITLE' | i18next }}
          </h1>
          <p class="csd-section-paragraph">
            {{ 'ACCOUNT_SETTINGS.DELETE_ACCOUNT.DESCRIPTION' | i18next }}
          </p>
          <button color="primary" mat-raised-button (click)="deleteAccount()">
            {{ 'ACCOUNT_SETTINGS.DELETE_ACCOUNT.BUTTON' | i18next }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
