.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-drawer {
  //this controls the with of the drawer
  // (don't use percentage see https://material.angular.io/components/sidenav/overview#setting-the-sidenav-39-s-size)
  max-width: 400px;
}
