<div class="csd-loading-indicator">
  <div @loadingAnimationTrigger *ngIf="showIsLoading$ | async">
    <p>Loading...</p>
    <mat-spinner diameter="20"></mat-spinner>
  </div>
</div>

<csd-model-list-wrapper
  [dataSource]="dataSource"
  [filters]="filters"
  [filterFieldTranslationPattern]="filterFieldTranslationPattern"
>
  <table mat-table [dataSource]="dataSource" matSort csdMatSortDatasourceConnector>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let item">{{ item.email }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getColumnsSelected()"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: getColumnsSelected()"></tr>
  </table>
</csd-model-list-wrapper>

<form [formGroup]="columnsForm">
  <ng-container formArrayName="columns">
    <mat-checkbox *ngFor="let column of availableColumns; let i = index" [formControlName]="i">
      <span>{{ column }}</span>
    </mat-checkbox>
  </ng-container>
</form>
