{% extends "./base/base_email.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Forgot your password?" %}</h1>

  <p>
    {% blocktrans with user_email=user.email trimmed %}
    We have got a request to change the password for {{ user_email }}. If you don’t want to reset your password,
    you can ignore this email.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
    If this wasn’t you, you don’t have to worry and can ignore this email, your account is safe.
    {% endblocktrans %}
  </p>

  <div class="button-container">
    <a href="{{ project.webapp.url }}/{{ reset_password_path_name }}/{{ key }}" class="button">
      {% trans "reset your password" %}</a>
  </div>
  <p class="button-alternative">
    {% blocktrans with project_webapp_url=project.webapp.url trimmed %}
    or you can open this <a href="{{ project_webapp_url }}/{{ reset_password_path_name }}/{{ key }}">link</a> in the
    browser or copy it there
    {% endblocktrans %}
    <br>
    <a class="break-word"
       href="{{ project.webapp.url }}/{{ reset_password_path_name }}/{{ key }}">
      {{ project.webapp.url }}/{{ reset_password_path_name }}/{{ key }}</a>
  </p>
{% endblock %}
