<!-- typography -->
<div class="csd-typography">
  <div class="csd-left">
    <div class="csd-display-4">display-4</div>
    <div class="csd-display-3">display-3</div>
    <div class="csd-display-2">display-2</div>
    <div class="csd-display-1">display-1</div>

    <div class="csd-headline">headline</div>
    <div class="csd-title">title</div>
    <div class="csd-subheading-2">subheading-2</div>
    <div class="csd-subheading-1">subheading-1</div>

    <div class="csd-typo-body-2">body-2</div>
    <div class="csd-typo-body-1">body-1</div>

    <div class="csd-button">button</div>
    <div class="csd-caption">caption</div>

    <div class="csd-overline">overline</div>
  </div>
  <div class="csd-right">
    <div class="csd-display-4">H1 Headline</div>
    <div class="csd-display-3">H2 Headline</div>
    <div class="csd-display-2">H3 Headline</div>
    <div class="csd-display-1">H4 Headline</div>

    <div class="csd-headline">H5 Headline</div>
    <div class="csd-title">H6 Headline</div>
    <div class="csd-subheading-2">Subtitle 1</div>
    <div class="csd-subheading-1">Subtitle 2</div>

    <div class="csd-typo-body-2">Body 1</div>
    <div class="csd-typo-body-1">Body 2</div>

    <div class="csd-button">Button</div>
    <div class="csd-caption">Caption</div>

    <div class="csd-overline">overline</div>
  </div>
</div>
