@mixin csd-page-container($theme, $typo) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .csd-page-container {
    overflow-x: hidden;
    background-color: mat-color($primary, A100);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;

    @media (min-width: map-get($csd-breakpoints, lg-desktop)) {
      max-width: 2000px;
      margin: 0 auto;
      box-shadow: 0 2px 40px 0 rgba(28, 28, 28, 0.1);
    }
  }
}
