<!-- forms -->
<div class="mat-display-4">Form Controls</div>
<div class="csd-form-controls">
  <form [formGroup]="testFormOne" (ngSubmit)="doNothing()">
    <mat-form-field appearance="outline">
      <mat-label>outline form field</mat-label>
      <input matInput placeholder="Placeholder" formControlName="formFieldOne" />
      <mat-icon matSuffix fontSet="material-icons-outlined">visibility</mat-icon>
      <mat-hint>Assistive text</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Input Field in Invalid State</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="formFieldInvalidStateControl" />
      <mat-icon matSuffix fontSet="material-icons-outlined">visibility</mat-icon>
      <mat-error *ngIf="formFieldInvalidStateControl.invalid"
        >This is some error message.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Disabled Form Field</mat-label>
      <input matInput placeholder="Placeholder" formControlName="disabledInput" />
      <mat-hint>Assistive text</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pre-filled Input Field</mat-label>
      <input matInput placeholder="Placeholder" formControlName="inputWithSomeValue" />
      <mat-hint>Assistive text</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mat-Select</mat-label>
      <mat-select placeholder="" formControlName="languageSelect">
        <mat-option *ngFor="let language of ['English', 'German', 'Klingon']" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mat-Select</mat-label>
      <mat-select placeholder="" formControlName="languageSelectDisabled">
        <mat-option *ngFor="let language of ['English', 'German', 'Klingon']" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mat-Select</mat-label>
      <mat-select placeholder="" formControlName="languageSelectInErrorState">
        <mat-option *ngFor="let language of ['English', 'German', 'Klingon']" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="languageSelectInErrorState.invalid">This is some error message.</mat-error>
    </mat-form-field>
  </form>

  <!-- checkboxes -->
  <h3>Checked</h3>
  <div class="csd-checkbox">
    <mat-checkbox checked="true">Enabled</mat-checkbox>
    <mat-checkbox checked="true" disabled>Disabled</mat-checkbox>
  </div>
  <h3>Indeterminate</h3>
  <div class="csd-checkbox">
    <mat-checkbox indeterminate="true">Enabled</mat-checkbox>
    <mat-checkbox indeterminate="true" disabled>Disabled</mat-checkbox>
  </div>
  <h3>Unchecked</h3>
  <div class="csd-checkbox">
    <mat-checkbox>Enabled</mat-checkbox>
    <mat-checkbox disabled>Disabled</mat-checkbox>
  </div>
</div>

<label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{ season }}
  </mat-radio-button>
</mat-radio-group>
<div>
  <mat-radio-button disabled>I am disabled radio</mat-radio-button>
</div>
<div>
  <mat-radio-button checked disabled>I am checked disabled radio</mat-radio-button>
</div>
