<!-- buttons -->
<div class="mat-display-4">Buttons</div>

<h3>Flat Buttons</h3>
<div>
  <button mat-flat-button color="primary">Enabled (primary)</button>
  <button mat-flat-button disabled>Disabled</button>
</div>
<div>
  <button mat-flat-button color="primary" autofocus>Focused</button>
  <button mat-flat-button>Progress</button>
</div>

<h3>Stroked Buttons</h3>
<div>
  <button mat-stroked-button color="primary">Enabled (primary)</button>
  <button mat-stroked-button disabled>Disabled</button>
</div>
<div>
  <button mat-stroked-button color="primary" autofocus>Focused</button>
  <button mat-stroked-button>Progress</button>
</div>

<h3>Basic Buttons</h3>
<div>
  <button mat-button color="primary">Enabled (primary)</button>
  <button mat-button disabled>Disabled</button>
</div>
<div>
  <button mat-button color="primary" autofocus>Focused</button>
  <button mat-button>Progress</button>
</div>

<h3>Content Buttons</h3>
<div>
  <button mat-flat-button color="primary"><mat-icon>mic</mat-icon>Create</button>

  <button mat-flat-button color="primary">
    <mat-icon>mic</mat-icon>Create
    <mat-icon>expand_more</mat-icon>
  </button>
</div>

<h3>Mat-icon-button primary</h3>
<div>
  <button mat-icon-button>
    <mat-icon>apps</mat-icon>
  </button>
  <button mat-icon-button disabled>
    <mat-icon>apps</mat-icon>
  </button>
</div>
