// 
$csd-primary: (
  50: #e9e6ff,
  100: #d3ccff,
  200: #a495ff,
  300: #8a75ff,
  400: #7d69ff,
  500: #5440d1,
  600: #5440d1,
  700: #4d39a0,
  800: #31287e,
  900: #291f66,
  A100: #fcfaf7,
  A200: #efebe6,
  A400: #666462,
  A700: #1f1e1d,
  contrast: (
    50: #121212,
    100: #333333,
    200: #666666,
    300: #b3b3b3,
    400: #cccccc,
    500: #ffffff,
    600: #ebebeb,
    700: #f0f0f0,
    800: #f6f6f6,
    900: #fafafa,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
) !default;

$csd-accent: (
  50: #e9e6ff,
  100: #d3ccff,
  200: #a495ff,
  300: #8a75ff,
  400: #7d69ff,
  500: #5440d1,
  600: #5440d1,
  700: #4d39a0,
  800: #31287e,
  900: #291f66,
  A100: #fcfaf7,
  A200: #efebe6,
  A400: #666462,
  A700: #1f1e1d,
  contrast: (
    50: #121212,
    100: #333333,
    200: #666666,
    300: #b3b3b3,
    400: #cccccc,
    500: #ffffff,
    600: #ebebeb,
    700: #f0f0f0,
    800: #f6f6f6,
    900: #fafafa,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
) !default;
// 

$csd-warn: (
  50: #f3e0e0,
  100: #e0b3b3,
  200: #fe8d8f,
  300: #fe7376,
  400: #fd5a5e,
  500: #fd4145,
  600: #fd282c,
  700: #fc0f14,
  800: #ef0308,
  900: #6b0000,
  A100: #ff9a9a,
  A200: #ff6767,
  A400: #ff3434,
  A700: #ff1a1a,
  contrast: (
    50: #121212,
    100: #333333,
    200: #666666,
    300: #b3b3b3,
    400: #cccccc,
    500: #e6e6e6,
    600: #ebebeb,
    700: #f0f0f0,
    800: #f6f6f6,
    900: #fafafa,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
) !default;

$csd-alert: (
  error: #fd4145,
  success: #4be777,
  warning: #feda00,
  info: #121212,
);

$mat-grey: (
  50: #fafafa,
  100: #f6f6f6,
  200: #f0f0f0,
  300: #ebebeb,
  400: #e6e6e6,
  500: #cccccc,
  600: #b3b3b3,
  700: #666666,
  800: #333333,
  900: #121212,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
