@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$bas-primary-font-family: 'Inter, "Roboto", sans-serif';
$bas-secondary-font-family: '"Fira Code", monospace';

/* prettier-ignore */
$csd-typography: map-merge(mat-typography-config(
  $font-family: 'Inter',
   //font-size, line-height, font-weight, font-family, letter-spacing
   $display-4: mat-typography-level(96px, 116px, 300, $bas-primary-font-family,  -1.5px),    // h1
   $display-3: mat-typography-level(60px, 72px, 400, $bas-primary-font-family, -.5px),       // h2
   $display-2: mat-typography-level(48px, 59px, 500),                                        // h3
   $display-1: mat-typography-level(34px, 41px, 700, $bas-primary-font-family, -0.25px),     // h4
   $headline: mat-typography-level(24px, 29px, 700),                                         // h5
   $title: mat-typography-level(20px, 24px, 700, $bas-primary-font-family, .15px),           // h6
   $subheading-2: mat-typography-level(16px, 24px, 300, $bas-primary-font-family, .15px),    // subtitle
   $subheading-1: mat-typography-level(14px, 24px, 300, $bas-primary-font-family, .1px),     // subtitle-2
   $body-2: mat-typography-level(16px, 28px, 300, $bas-primary-font-family),           // body-1
   $body-1: mat-typography-level(14px, 20px, 300),                                           // body-2
   $button: mat-typography-level(14px, 17px, 600, $bas-primary-font-family, 1.35px),         // button
   $caption: mat-typography-level(12px, 16px, 400, $bas-secondary-font-family),               // caption
   // Line-height must be unit-less fraction of the font-size.
   $input: mat-typography-level(14px, 1, 300, $bas-primary-font-family) // is not related to styleguide because it must fit in inputs
), (
  overline: mat-typography-level(10px, 16px, 600, $bas-primary-font-family, 1.5px)
));
