$mat-toolbar-height-desktop: 56px;
$mat-toolbar-height-mobile: 56px;
$csd-container-width: 1232px;

$mat-modal-notification-height: 46px;
$csd-breakpoints: (
  lg-desktop: 1280px,
  desktop: 840px,
  tablet: 480px,
  phone: 0px,
) !default;

/* prettier-ignore */
$mat-xs: screen and (max-width: 599px);
/* prettier-ignore */
$mat-sm: screen and (min-width: 600px) and (max-width: 959px);
/* prettier-ignore */
$mat-md: screen and (min-width: 960px) and (max-width: 1279px);
/* prettier-ignore */
$mat-lg: screen and (min-width: 1280px) and (max-width: 1919px);
/* prettier-ignore */
$mat-xl: screen and (min-width: 1920px) and (max-width: 5000px);
/* prettier-ignore */
$mat-lt-sm: screen and (max-width: 599px);
/* prettier-ignore */
$mat-lt-md: screen and (max-width: 959px);
/* prettier-ignore */
$mat-lt-lg: screen and (max-width: 1279px);
/* prettier-ignore */
$mat-lt-xl: screen and (max-width: 1919px);
/* prettier-ignore */
$mat-gt-xs: screen and (min-width: 600px);
/* prettier-ignore */
$mat-gt-sm: screen and (min-width: 960px);
/* prettier-ignore */
$mat-gt-md: screen and (min-width: 1280px);
/* prettier-ignore */
$mat-gt-xl: screen and (min-width: 1920px);

$csd-grid-column-gap: 40px;
$csd-grid-row-gap: 40px;
$csd-section-padding: 80px;

$csd-section-padding-mobile: 20px;
