<div>
  <h1>Mat list</h1>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</div>

<div>
  <h1>Mat selection list without checkbox</h1>
  <mat-selection-list class="csd-default-selection-list">
    <mat-list-option>Item 1</mat-list-option>
    <mat-list-option>Item 2</mat-list-option>
    <mat-list-option>Item 3</mat-list-option>
  </mat-selection-list>
</div>

<div>
  <h1>Mat selection list</h1>
  <mat-selection-list>
    <mat-list-option checkboxPosition="before">Item 1</mat-list-option>
    <mat-list-option checkboxPosition="before">Item 2</mat-list-option>
    <mat-list-option checkboxPosition="before">Item 3</mat-list-option>
  </mat-selection-list>
</div>
