<div class="csd-change-email-dialog">
  <h1 mat-dialog-title>{{ 'CHANGE_EMAIL_DIALOG.TITLE' | i18next }}</h1>
  <form *ngIf="!requestSent" class="csd-step-request-form" [formGroup]="changeEmailForm" novalidate>
    <div mat-dialog-content>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <p class="csd-description" [innerHtml]="'CHANGE_EMAIL_DIALOG.DESCRIPTION' | i18next"></p>
        <mat-form-field [appearance]="formFieldAppearance">
          <mat-label>{{ 'CHANGE_EMAIL_DIALOG.FORM.EMAIL.LABEL' | i18next }}</mat-label>
          <input
            matInput
            [placeholder]="'CHANGE_EMAIL_DIALOG.FORM.EMAIL.PLACEHOLDER' | i18next"
            formControlName="newEmail"
            autocomplete="email"
          />
          <mat-hint>{{ 'CHANGE_EMAIL_DIALOG.FORM.EMAIL.HINT' | i18next }}</mat-hint>
          <mat-error
            *ngIf="(newEmailForm.dirty || newEmailForm.touched) && newEmailForm.errors?.required"
          >
            {{ 'CHANGE_EMAIL_DIALOG.FORM.EMAIL.ERROR.REQUIRED' | i18next }}
          </mat-error>
          <mat-error
            *ngIf="
              (newEmailForm.dirty || newEmailForm.touched) &&
              newEmailForm.errors?.invalid &&
              !newEmailForm.errors?.required
            "
          >
            {{ 'CHANGE_EMAIL_DIALOG.FORM.EMAIL.ERROR.INVALID' | i18next }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button color="accent" mat-button [mat-dialog-close]="false">
        {{ 'BUTTON.CANCEL' | i18next }}
      </button>
      <button color="accent" mat-raised-button (click)="requestEmailChange()" type="submit">
        {{ 'BUTTON.NEXT' | i18next }}
      </button>
    </div>
  </form>
  <div *ngIf="requestSent" class="csd-step-request-sent">
    <div mat-dialog-content>
      <div
        class="csd-description"
        [innerHTML]="
          'CHANGE_EMAIL_DIALOG.CONFIRM_EMAIL_SENT_INFO' | i18next: { newEmail: newEmail }
        "
      ></div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button color="accent" mat-button (click)="requestSent = false">
        {{ 'BUTTON.BACK' | i18next }}
      </button>
      <button
        color="accent"
        mat-raised-button
        [mat-dialog-close]="false"
        [disabled]="!changeEmailForm.valid"
      >
        {{ 'BUTTON.CLOSE' | i18next }}
      </button>
    </div>
  </div>
</div>
